<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dtu.engifest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".events.EventsActivity"
            android:theme="@style/TransparentTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".about.AboutActivity"
            android:theme="@style/AppThemeNoToolbar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="About" >

        </activity>

        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppThemeNoToolbar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Feedback" >

        </activity>
    </application>

</manifest>

